Installer/build
Installer/Installer.dproj
Installer/Installer.dproj.local
Installer/Installer.identcache
Installer/Installer.~dsk
*.dcu
*.dproj
*.identcache
*.~dsk
*.~*~
*.local
*.log
*.stat
*.cbk
Installer-deprecated/Installer.exe
*.tvsconfig
*.mes
/AGENTS.md

*.dcp
*.bpl
*.bpi
*.dsk
*.map
*.drc
Bpl/

# Lazarus/FPC build artifacts
packagefiles.xml
Packages/Lazarus/Compiled/
*.ppu
*.o
*.lrt